.swiperMovies {
    width: 100%;
    height: 400px;
    margin: 60px auto 0;
}

.swiperMovies .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperMovies .swiper-slide img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}