.afisha__not-find {
    margin: 40px 0 50px 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
@media (max-width: 319.98px) {
    .afisha__not-find {
        font-size: 20px;
    }
}