.page404 {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page404 .page404__content {
  position: relative;
  z-index: 2;
  max-width: 550px;
  margin: 0 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
  padding: 40px;
  border-radius: 10px;
}
.page404 .page404__content .page404__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 65px;
  color: #fff;
  margin: 0 0 35px 0;
}
.page404 .page404__content .page404__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 40px 0;
}
.page404 .page404__content .page404__button {
  display: block;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 16px;
}
.page404 .page404__content .page404__button:hover {
  color: #fff;
}

@media (max-width: 1199.98px) {
  .page404 .page404__content {
    margin: 0 20px;
    padding: 40px;
  }
}
@media (max-width: 1023.98px) {
  .page404 .page404__content {
    margin: 0 auto;
    max-width: 550px;
    padding: 40px;
    text-align: center;
  }
  .page404 .page404__content .page404__title {
    font-size: 44px;
    line-height: 60px;
    max-width: 400px;
    margin: 0 auto 35px;
  }
  .page404 .page404__content .page404__text {
    margin: 0 0 64px 0;
  }
  .page404 .page404__content .page404__button {
    font-size: 20px;
    margin: 0 0 24px;
  }
}
@media (max-width: 479.98px) {
  .page404 .page404__content {
    width: 100%;
    padding: 40px 30px;
  }
  .page404 .page404__content .page404__title {
    font-size: 34px;
    line-height: 45px;
    max-width: 100%;
  }
  .page404 .page404__content .page404__text {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 50px 0;
  }
  .page404 .page404__content .page404__button {
    font-size: 20px;
    margin: 0 0 20px;
  }
}